<?xml version="1.0"?>
<!--
/**
* config.xml
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@mageflow.com so we can send you a copy immediately.
*
* DISCLAIMER
*
* If you wish to use the MageFlow Connect extension as part of a paid
* service please contact licence@mageflow.com for information about
* obtaining an appropriate licence.
*/

/**
* MageFlow Connector Magento extension configuration file
*
* @category   MFX
* @package    Mageflow_Versioninfo
* @subpackage Configuration
* @author     MageFlow OÜ, Estonia <info@mageflow.com>
* @copyright  Copyright (C) 2014 MageFlow OÜ, Estonia (http://mageflow.com) 
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
* @link       http://mageflow.com/
*/
-->
<config>
    <modules>
        <Mageflow_Versioninfo>
            <version>1.0.1</version>
        </Mageflow_Versioninfo>
    </modules>
    <global>
        <helpers>
            <mageflow_versioninfo>
                <class>Mageflow_Versioninfo_Helper</class>
            </mageflow_versioninfo>
        </helpers>
        <blocks>
            <mageflow_versioninfo>
                <class>Mageflow_Versioninfo_Block</class>
            </mageflow_versioninfo>
            <adminhtml>
                <rewrite>
                    <system_config_form_fieldset_modules_disableOutput>Mageflow_Versioninfo_Block_System_Config_Form_Fieldset_Modules_DisableOutput</system_config_form_fieldset_modules_disableOutput>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>
